<<<<<<< HEAD
#background {
    background: url("Ninth_grade/15.jpg");
    background-size: cover;
    opacity: 0.8;
}
=======
#background {
    background: url("Ninth_grade/15.jpg");
    background-size: cover;
    opacity: 0.8;
}
>>>>>>> 2970a6c (# Please enter the commit message for your changes. Lines starting)
